/* big tablet to 1200px */
@media only screen and (max-width: 1210px) {
    
    .header h1{
        
        text-align: center;
        
        font-size: 20px;
    }

    
}

/* small tablet to big tablet: 768px to 1023px */
@media only screen and (max-width: 1023px) {
    
    .header h1{
        
        text-align: center;
        
        font-size: 20px;
    }
}


/* small phones to small tablet: 480px to 767px */
@media only screen and (max-width: 850px) {
    
    
    .header img {
        float: left;
        height: 140px;
        width: auto;
        padding-top: 30px;
        padding-left: 10px;
    }

    .header h1{
        
        text-align: center;
        
        font-size: 20px;
    }
}

@media only screen and (max-width: 750px) {
    .container {
         margin: 25px auto; position: relative; width: 400px; 
    }
    
    .header img {
        display: none;
    }

    .header h1{
        
        text-align: center;        
        font-size: 20px;
    }
    .section1{
        width: 15%;
        float: left;
        padding-left: 15%; 
        padding-right: 25px;
        padding-top: 2px;
    } 
}


/* small phones: 0 to 480px */
@media only screen and (max-width: 500px) {
    
   
}