body {
    margin:0;
    padding:0;
    font-family: Sans-Serif;
    line-height: 1.5em;
}

header {
    background: #ccc;
    height: 220px;
    
}
.header img {
    float: left;
    padding-top: 10px;
}
.header h1{
    float: left;
    text-align: center;
    padding-top: 60px;
    padding-left: 90px;
}


#wrapper {
    overflow: hidden;    
    padding-left: 10px;
}

p {
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: darkgreen;
    text-decoration: none;
}

.section1{
    width: 15%;
    float: left;
    padding-left: 15%; 
    padding-top: 2px;
} 
.section2{
    border-left: 1px solid #ccc;
    width: 50%;
    padding-left: 5%; 
    float: left;
    padding-top: 2px;
} 

.logout{
    
    padding-top: 40px;
}